<header>
        <nav class="nav navbar-expand-lg navbar-dark text-white bg-success fixed-top">

            <div class="container">
                <a class="navbar-brand" href="/">ShopApp</a>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" ><a class="nav-link active" href="/Home/Index"> Home</a></li>
                    <li class="nav-item"><a class="nav-link " asp-controller="Shop" asp-action="List"> Products</a></li>
                    <li class="nav-item"><a class="nav-link " href="#">Cart </a></li>
                    <li class="nav-item"><a class="nav-link " href="#"> Orders</a></li>
                    <li class="nav-item"><a asp-controller="Admin" asp-action="CreateProduct" class="nav-link "> Add Product</a></li>
                    <li class="nav-item"><a class="nav-link " href="/admin/ProductList"> Admin Product</a></li>
                    <li class="nav-item"><a class="nav-link "  asp-controller="Admin" asp-action="CreateCategory"> Add Category</a></li>
                    <li class="nav-item"><a class="nav-link "  asp-controller="Admin" asp-action="CategoryList"> Admin Category</a></li>
                    <li class="nav-item"><a class="nav-link "  asp-controller="Admin" asp-action="CreateProduct"> Logout</a></li>
                    <li class="nav-item"><a class="nav-link "  asp-controller="Admin" asp-action="CreateProduct"> Login</a></li>
                    <li class="nav-item"><a class="nav-link "  asp-controller="Admin" asp-action="CreateProduct"> Register</a></li>
             
                </ul>
            </div>
        </nav>
    </header>